
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: white;  
}
*{
    padding: 0%;
    margin: 0%;
}

.container{
    height: 500px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.pingpong{
    box-shadow: 10px 10px 10px rgb(13, 13, 14);
    background-color: white;
    border-radius: 3px;
    /* border: 2px black solid; */
}

img{
    border-radius: 3px;
}

hr{
    margin: 5px;
}

.ping{
    margin-left: 6px;
    font-family: 'Varela Round';
}

button{
    margin:-2px;
    margin-top: 20px;
    margin-left: 2.8px;
    margin-bottom: 5px;
    
}
button:active{
    box-shadow: 2.5px 2.5px 2.5px black;
}
button:hover{
    background-color: rgba(198, 185, 71, 0.74);
}


.player1{
    margin-left:6px;    
    font-size: 30px;
    font-family: 'Varela Round';
    margin-top: 100px;
}
.player2{
    font-size: 30px;
    font-family: 'Varela Round';
}

.button1 {
    background-color: rgb(0, 183, 0);
    border: 0ch;  
    border-radius: 2px;
    color: white;
}

.button2 {
    background-color: rgb(0, 155, 217);
    border: 0ch;
    border-radius: 3px;
    color: white;
}

.reset{
    background-color: red;
    border: 0ch;
    border-radius: 3px;
    color: white;
}

.play{
    font-family:'Varela Round', 'Arial Narrow', Arial, sans-serif;
    font-size: 2px;
    margin-left: 6px;
    font-weight: 700;
}

.para{
    font-size: 0.1px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 2px;
    margin-left: 6px;
    font-family: 'Varela Round';
}




